@charset 'UTF-8';
@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

@font-face {
    font-family: 'Subtitulo';
    src: url(../fonts/Ailerons-Typeface.otf) format("opentype");
}

@font-face {
    font-family: 'titulo';
    src: url(../fonts/FuturaLT-Book.ttf) format("truetype");
}

@font-face {
    font-family: 'paragrafo';
    src: url(../fonts/FuturaLT-Light.ttf) format("truetype");
}

@font-face {
    font-family: 'hamster';
    src: url(../fonts/Hamster.otf) format("opentype");
}

@font-face {
    font-family: 'oranienbaum';
    src: url(../fonts/Oranienbaum.ttf) format("truetype");
}

@font-face {
    font-family: 'streamster';
    src: url(../fonts/Streamster.ttf) format("truetype");
}

:root {
    --color00: #595856;
    --color01: #F3F0EC;
    --color02: #D9D5D0;
    --color03: #5E5D5B;
    --color04: #A6A39F;
    --color05: #737373;
    --color06: #595959;
    --color07: #404040;
    --color08: #0D0D0D;
    --color09: #e7e7e7;
    --color-logo1: #CCCCCC;
    --color-logo2: #605E5E;
    --color-menu-hover: 160, 180, 210;
    --letra-padrao: 'Share Tech Mono', monospace;
}

* {
    color: black;
    margin: 0px;
    padding: 0px;
}

.material-icons {
    margin: auto;
    color: white;
}

body, html {
    overflow-x: hidden;
    background-color: var(--color09);
    margin: 0px;
}

div.background {
    background: black url(../img/background.jpg) no-repeat fixed;
    background-size: cover;
    background-position: center center;
}

header {
    margin: auto;
    padding: 20px;
    display: flex; 
    position: relative;
}

header > div.logo {
    margin: auto;
    padding: 0px;
    justify-content: center;
    align-items: center;
}

header > div.logo > h1 {
    font-family: 'open sans', sans-serif;
    font-weight: bold;
    font-size: 3.75em;
    text-align: center;
    line-height: 0.85em;
}

header > div.logo > h1 > span.logo-1 {
    color: var(--color-logo1);
}

header >  div.logo > h1 > span.logo-2 {
    color: var(--color-logo2);
}

header > div.logo > p.logo-3 {
    color: white;
    font-family: open sans,sans-serif;
    font-size: 0.8em;
    text-align: center;
    letter-spacing: 5px;
    line-height: 3.5em;
    text-transform: uppercase;
}

span#menu-burguer {
    display: none;
}

menu {
    margin: auto;
    margin-top: 5px;
    margin-right: 10px;
    justify-content: center;
    align-items: center;
}

menu > ul {
    margin: 0px;
    padding: 0px;
}

menu > ul > li {
    display: inline-block;
    padding: 10px;
}

menu > ul > li > div.menuheader {
    display: inline-block;
}

menu > ul>  li > div.menuheader > a {
    display: flex;
    height: 24px;
    padding: 5px;
}

menu > ul > li > div.menuheader > a > span.reference {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1em;
    text-decoration: none;
    line-height: 26px;
}

menu > ul > li > div.menuheader > a:hover {
    background-color: white;
    border-radius: 10px;
    text-decoration: none;
}

menu > ul > li > div.menuheader:hover > a > span:nth-child(1) {
    color: black;
    text-decoration: none;
}

menu > ul > li > div.menuheader:hover > a > span:nth-child(2) {
    color: black;
    font-weight: bolder;
    text-decoration: none;
}

section {
    padding-top: 15vh;
    padding-bottom: 15vh;
}

section#Home >  aside  > div.redes-sociais {
    display: flex;
}

section#Home >  aside  > div.redes-sociais > div#parte-1 {
    display: block;
    margin: auto;
}

section#Home >  aside  > div.redes-sociais > div#parte-1 > h2 {
    font-family: Futura,Trebuchet MS,Arial,sans-serif;
    font-size: 2.5em;
    font-weight: normal; 
    color: white;
    display: block;
    margin: auto;
    margin-top: -30%;
    margin-left: 10%;
    margin-bottom: 30px;
    max-width: 500px;
}

section#Home >  aside > div.redes-sociais > div#parte-1 > div {
    transform: translateX(70%);
    width: 200px;
}

section#Home > aside > div.redes-sociais > div#parte-1 > div > a {
    display: flex;
}

section#Home >  aside > div.redes-sociais > div#parte-1 > div > a > span#icon {
    background-color: transparent;
    background-image: url(../img/instagram.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    width: 40px;
    height: 40px;
}

section#Home >  aside > div.redes-sociais > div#parte-1 > div > a > span#text {
    color: #FFFF;
    font-family: 'paragrafo', sans-serif;
    line-height: 40px;
}

section#Home >  aside > div.redes-sociais > div#parte-1 > div > span > a{
    color: white;
    border: none;
    margin: auto;
    margin-left: 0px;
    font-size: 1em;
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
}

section#Home >  aside > div.redes-sociais > div#parte-1 > div:hover {
    border: 2px solid white;
    cursor: pointer;
    text-decoration: underline;
}

section#Home >  aside  > div.redes-sociais > div#parte-2 {
    display: flex;
    margin: auto;
}

section#Home > aside > div.redes-sociais > div#parte-2 > picture > img#tablet{
    position: relative;
    left: 25%;
}

section#Home > aside > div.redes-sociais > div#parte-2 > picture > img#celular {
    position: relative;
    left: -180%;
    bottom: -60%;
}

section#Solucoes > article > h2#comeco {
    font-family: titulo, sans-serif;
    font-size: 2.2em;
    font-weight: normal;
    color: #0d0d0ddc;
    text-align: center;
    margin-top: 4%;
}

section#Solucoes > article > p#atribuicao {
    font-family: georgia,palatino,book antiqua,palatino linotype,serif;
    font-size: 1.2em;
    font-weight: normal;
    color: #0d0d0daf;
    text-align: center;
    width: 250px;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 40px;
}

section#Solucoes > article > p {
    margin: auto;
    margin-bottom: 30px;
    font-family: paragrafo, sans-serif;
    font-weight: bold;
    font-size: 1.3em;
    max-width: 65%;
    text-align: justify;
    text-indent: 50px;
}

section#Solucoes > aside {
    background-color: #a6a39f2a;
    margin: auto;
    margin-top: 10vh;
    min-height: 350px;
}

section#Solucoes > aside > h2 {
    margin: auto;
    max-width: 70%;
    font-family: titulo, sans-serif;
    font-size: 2em;
    font-weight: normal;
    text-align: center;
    padding: 20px;
    padding-bottom: 60px;
}

section#Solucoes > aside > div#competencias {
    display: flex;
    margin: auto;
    width: 90%;
}

section#Solucoes > aside > div#competencias > div#eficiencia {
    margin: 0px auto;
}

section#Solucoes > aside > div#competencias > div#eficiencia > div#img-premium {
    margin: auto;
    margin-bottom: 30px;
    max-width: 80px;
}


section#Solucoes > aside > div#competencias > div#eficiencia > div#img-premium > span#icon-premium {
    color: rgba(0, 0, 0, 0.575);
    font-size: 80px;
}

section#Solucoes > aside > div#competencias > div#eficiencia > div#frase-premium {
    margin: auto;
    max-width: 205px;
    text-align: center;
    margin-bottom: 30px;
}

section#Solucoes > aside > div#competencias > div#eficiencia > div#frase-premium > p {
    text-align: center;
    font-family: 'paragrafo', sans-serif;
    font-size: 1em;
}

section#Solucoes > aside > div#competencias > div#forum-duvidas {
    margin: 0px auto;
}

section#Solucoes > aside > div#competencias > div#forum-duvidas > div#img-forum {
    margin: auto;
    margin-bottom: 30px;
    max-width: 80px;
}


section#Solucoes > aside > div#competencias > div#forum-duvidas > div#img-forum > span#icon-forum {
    color: rgba(0, 0, 0, 0.575);
    font-size: 80px;
}

section#Solucoes > aside > div#competencias > div#forum-duvidas > div#frase-forum {
    margin: auto;
    max-width: 205px;
    text-align: center;
    margin-bottom: 30px;
}

section#Solucoes > aside > div#competencias > div#forum-duvidas > div#frase-forum > p {
    text-align: center;
    font-family: 'paragrafo', sans-serif;
    font-size: 1em;
}

section#Solucoes > aside > div#competencias > div#seguranca {
    margin: 0px auto;
}

section#Solucoes > aside > div#competencias > div#seguranca > div#img-seguranca {
    margin: auto;
    margin-bottom: 30px;
    max-width: 80px;
}


section#Solucoes > aside > div#competencias > div#seguranca > div#img-seguranca > span#icon-security {
    color: rgba(0, 0, 0, 0.575);
    font-size: 80px;
}

section#Solucoes > aside > div#competencias > div#seguranca > div#frase-seguranca {
    margin: auto;
    max-width: 205px;
    text-align: center;
    margin-bottom: 30px;
}

section#Solucoes > aside > div#competencias > div#seguranca > div#frase-seguranca > p {
    text-align: center;
    font-family: 'paragrafo', sans-serif;
    font-size: 1em;
}


section#ComoFunciona > article > div.informacoessite {
    display: flex;
    margin: auto;
    max-width: 100%;
    align-items: center;
    justify-content: center;
}

section#ComoFunciona > article > div.informacoessite > div.img-mobile {
    display: block;
    margin: auto;
    max-width: 40%;
}

section#ComoFunciona > article > div.informacoessite > div.img-mobile > img#mobile {
    position: relative;
    max-width: 100%;
}

section#ComoFunciona > article > div.informacoessite > div.informacoes {
    display: block;
    margin: auto;
    margin-left: 2%;
    max-width: 50%;
    line-height: 2em;
}

section#ComoFunciona > article > div.informacoessite > div.informacoes > h2 {
    margin-bottom: 25px;
    margin-left: -7%;
    font-family: subtitulo, sans-serif;
    letter-spacing: normal;
    font-size: 2.5em;
    text-align: center;
}

section#ComoFunciona > article > div.informacoessite > div.informacoes > p {
    max-width: 600px;
    font-family: paragrafo, sans-serif;
    font-weight: bold;
    letter-spacing: normal;
    text-align: justify;
    text-indent: 30px;
    font-size: 1.1em;
}

section#SobreNos {
    background-color: rgb(207,223,242);
    margin: auto;
}

section#SobreNos > h2 {
    margin: auto;
    margin-bottom: 15px;
    font-family: titulo, sans-serif;
    font-weight: normal;
    font-size: 2em;
    text-align: center;
}

section#SobreNos > p#slogan {
    max-width: 100%;
    margin: auto;
    margin-bottom: 50px;
    font-family: palatino, book antiqua, palatino linotype, serif;
    font-weight: normal;
    font-size: 1.2em;
    color: #0d0d0de7;
    text-align: center;
}

section#SobreNos > p {
    margin: auto;
    margin-bottom: 10px;
    max-width: 90%;
    font-family: paragrafo, sans-serif;
    font-weight: bold;
    font-size: 1.2em;
    color: #0d0d0de7;
    text-align: justify;
    text-indent: 50px;
}

footer {
    background-color: var(--color08);
    padding-top: 30px;
    padding-left: 60px;
    padding-bottom: 20px;
    color: white;
}

footer > div.logo {
    margin: 0px;
    margin-bottom: 25px;
    padding: 0px;
    max-width: 15%;
}

footer > div.logo > h1 {
    margin: 0px;
    font-family: 'open sans', sans-serif;
    font-weight: bold;
    font-size: 3.75em;
    text-align: center;
    line-height: 0.85em;
}

footer > div.logo > h1 > span.logo-1 {
    color: var(--color-logo1);
}

footer >  div.logo > h1 > span.logo-2 {
    color: var(--color-logo2);
}

footer > div.logo > p.logo-3 {
    color: white;
    font-family: 'open sans', sans-serif;
    font-size: 0.8em;
    text-align: center;
    letter-spacing: 5px;
    line-height: 3.5em;
    text-transform: uppercase;
}

footer > p#slogan-final {
    max-width: 250px;
    font-family: paragrafo, sans-serif;
    color: white;
}

footer > p#creditos {
    margin-top: 3%;
    color: white;
    font-family: 'paragrafo';
    text-align: center;
}
