@charset 'UTF-8';

@media screen and (max-width: 768px) {

    header {
        position: relative;
        align-items: center;
        justify-content: center;
    }

    span#menu-burguer {
        display: block;
        color: white;
        position: absolute;
        left: 10px;
        top: 20px
    }

    section {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    span#menu-burguer:hover {
        cursor: pointer;
        background-color: white;
        color: black;

    }

    section#Solucoes > aside > div#trofeus {
        display: flex;
        margin: auto;
        justify-content: center;
        width: 80%;
    }

    section#ComoFunciona > article > div.informacoessite > div.img-mobile {
        display: none;
    }

    menu {
        display: none;
    }

    section#Solucoes > article > p {
        max-width: 90%;
    }

    section#Home >  aside  > div.redes-sociais > div#parte-1 > h2 {
        margin-top: 15px;
        margin: auto;
        text-align: center;
        padding: 10px;
    }

    section#Home >  aside > div.redes-sociais > div#parte-1 > button{
        margin: auto;
        margin-top: 20px;
        position: absolute;
        left: 50%;
        transform: translate(-50%);

    }

    section#Home > aside > div.redes-sociais > div#parte-2 > picture > img#tablet{
        display: none;
    }
    
    section#Home > aside > div.redes-sociais > div#parte-2 > picture > img#celular {
        display: none;
    }

    section#ComoFunciona > article > div.informacoessite > div.informacoes {
        display: block;
        max-width: 100%;
        margin: auto;
        line-height: 2em;
    }

    section#ComoFunciona > article > div.informacoessite > div.informacoes > h2 {
        margin: auto;
        margin-bottom: 25px;
        font-family: subtitulo, sans-serif;
        letter-spacing: normal;
        font-size: 2.5em;
        text-align: center;
        line-height: 1em;
    }

    section#ComoFunciona > article > div.informacoessite > div.informacoes > p {
        max-width: 90%;
        margin: auto;
        font-family: paragrafo, sans-serif;
        font-weight: bold;
        letter-spacing: normal;
        text-align: justify;
        text-indent: 30px;
        font-size: 1.1em;
    }
}