@charset 'UTF-8';

@media screen and (max-width: 992px) {

    header {
        position: relative;
        align-items: center;
        justify-content: center;
    }


    header.active menu {
        display: block;
        background-color: rgba(128, 128, 128, 0.404);
        position: absolute;
        top: 40px;
        left: 0px;
        width: 100%;
        height: 10000px;
        line-height: 40px;
        z-index: 100000000;
    }

    header.active menu li {
        display: block;
        border-bottom: 2px solid rgba(0, 0, 0, 0.5);
    }

    span#menu-burguer {
        display: block;
        color: white;
        position: absolute;
        left: 10px;
        top: 20px
    }

    section {
        padding-top: 20px;
        padding-bottom: 20px;
    }



    span#menu-burguer:hover {
        cursor: pointer;
        background-color: white;
        color: black;

    }

    section#Home >  aside  > div.redes-sociais > div#parte-2 {
        display: none;
    }

    section#ComoFunciona > article > div.informacoessite > div.img-mobile {
        display: none;
    }

    menu {
        display: none;
    }

    section#Solucoes > article > p {
        max-width: 90%;
    }

    section#Home >  aside  > div.redes-sociais > div#parte-1 > h2 {
        margin-top: 15px;
        margin: auto;
        text-align: center;
        padding: 10px;
    }

    section#Home >  aside > div.redes-sociais > div#parte-1 > button{
        margin: auto;
        margin-top: 20px;
        position: absolute;
        left: 50%;
        transform: translate(-50%);

    }

    section#Home > aside > div.redes-sociais > div#parte-2 > picture > img#tablet{
        display: none;
    }
    
    section#Home > aside > div.redes-sociais > div#parte-2 > picture > img#celular {
        display: none;
    }

    section#ComoFunciona > article > div.informacoessite > div.informacoes {
        display: block;
        max-width: 100%;
        margin: auto;
        line-height: 2em;
    }

    section#ComoFunciona > article > div.informacoessite > div.informacoes > h2 {
        margin: auto;
        margin-bottom: 25px;
        font-family: subtitulo, sans-serif;
        letter-spacing: normal;
        font-size: 2.5em;
        text-align: center;
        line-height: 1em;
    }

    section#ComoFunciona > article > div.informacoessite > div.informacoes > p {
        max-width: 90%;
        margin: auto;
        font-family: paragrafo, sans-serif;
        font-weight: bold;
        letter-spacing: normal;
        text-align: justify;
        text-indent: 30px;
        font-size: 1.1em;
    }

    section#Solucoes > aside > div#competencias > div#eficiencia > div#frase-premium {
        max-width: 350px;
        margin-right: 10px;
        border: 2px solid grey;
        padding: 5px;
    }

    section#Solucoes > aside > div#competencias > div#eficiencia > div#frase-premium > p {
        text-align: justify;
    }

    section#Solucoes > aside > div#competencias > div#forum-duvidas > div#frase-forum {
        max-width: 350px;
        margin-right: 10px;
        border: 2px solid grey;
        padding: 5px;
    }

    section#Solucoes > aside > div#competencias > div#forum-duvidas > div#frase-forum > p {
        text-align: justify;
    }

    section#Solucoes > aside > div#competencias > div#seguranca > div#frase-seguranca {
        max-width: 360px;
        border: 2px solid grey;
        padding: 5px;
    }

    section#Solucoes > aside > div#competencias > div#seguranca > div#frase-seguranca > p {
        text-align: justify;
    }

    footer {
        max-width: 100%;
        background-color: var(--color08);
        padding-top: 20px;
        padding-left: 0px;
        margin-right: 0px;
        padding-bottom: 20px;
    }

    footer > div.logo {
        margin: 0px;
        margin-bottom: 25px;
        padding: 0px;
        max-width: 100%;
    }

    footer > p#slogan-final {
        max-width: 250px;
        margin: auto;
        margin-bottom: 30px;
        font-family: paragrafo, sans-serif;
        color: white;
        text-align: center;
    }
    

}